In [1]:
import os
import json
import pandas as pd

In [4]:
train_df = pd.read_json("./multi_label_data/reuters/train_data.json")
test_df = pd.read_json("./multi_label_data/reuters/test_data.json")
print("train", train_df.shape)
print("test", test_df.shape)

train (7769, 3)
test (3019, 3)

In [14]:
train_df["text_len"] = train_df["text"].str.len()
train_df["text_len"].describe()

count    7769.000000
mean      779.838332
std       836.853006
min        23.000000
25%       251.000000
50%       510.000000
75%       988.000000
max      8491.000000
Name: text_len, dtype: float64

In [9]:
train_df

,id,text,labels,text_len
0,training/1,BAHIA COCOA REVIEW Showers continued throughou...,[cocoa],2806
1,training/10,COMPUTER TERMINAL SYSTEMS &lt;CPML> COMPLETES ...,[acq],1312
2,training/100,N.Z. TRADING BANK DEPOSIT GROWTH RISES SLIGHTL...,[money-supply],511
3,training/1000,NATIONAL AMUSEMENTS AGAIN UPS VIACOM &lt;VIA> ...,[acq],766
4,training/10000,ROGERS &lt;ROG> SEES 1ST QTR NET UP SIGNIFICAN...,[earn],558
...,...,...,...,...
7764,training/999,U.K. MONEY MARKET SHORTAGE FORECAST REVISED DO...,"[interest, money-fx]",267
7765,training/9992,KNIGHT-RIDDER INC &lt;KRN> SETS QUARTERLY Qtly...,[earn],103
7766,training/9993,TECHNITROL INC &lt;TNL> SETS QUARTERLY Qtly di...,[earn],102
7767,training/9994,NATIONWIDE CELLULAR SERVICE INC &lt;NCEL> 4TH ...,[earn],297
7768,training/9995,&lt;A.H.A. AUTOMOTIVE TECHNOLOGIES CORP> YEAR ...,[earn],152